body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background: url(mots.jpg);
    background-size: cover;
    background-attachment: fixed;
}
*{
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.Formulario{
    background:none;
    margin-top: 150px;
    padding: 3px;
}
form input {
    background: transparent;
}
::placeholder{
    color: black;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
h2{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
h3{
    text-align: center;
    color: black;
    font-size: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"]
{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    color: black;
}


.inputContenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    color: black;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999999;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: rgb(128, 62, 0);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.botton:hover{
    background: rgb(167, 105, 47);
}

p{
    text-align: center;
}

.link{
    text-decoration: none;
    color: #725c32;
    font-weight: 600;
}

.link:hover{
    color: rgb(167, 105, 47);
}

@media(min-width:768px){
    .Formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
    }
}
